@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Source+Serif+Pro:wght@300&display=swap');


* {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

body {
    background: rgb(87, 3, 166);
    background: linear-gradient(280deg, rgba(87, 3, 166, 1), rgba(57, 5, 54, 1) 350%);

}

.box-cadastro {
    width: 400px;
    height: 600px;
    border-radius: 25px;
    padding: 15px;
    margin: 0px;
    box-shadow: black 2px 2px 2px 2px;
    position: relative;
    left: 34%;
    background-color: rgb(153, 80, 172);
}
 
#detalhes {
    display: none;
    text-align: center;
    color: rgb(250, 250, 250);
}
.boxtexto {
    position: relative;
    text-align: center;
    top: 45px;
}
/*Buttons------------------------------*/
#confirmar {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    width: 150px;
    position: relative;
    left: 25%;
    top: 25px;
    border: solid 1px white;
    box-shadow: 5px 5px 5px rgb(36, 1, 39);
    outline-style: none;
}
#coment {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    width: 150px;
    position: relative;
    left: 10px;
    top: 15px;
    border: solid 1px white;
    box-shadow: 5px 5px 5px rgb(36, 1, 39);
    outline-style: none;
}
#confirmar:hover {
    background: rgb(87, 3, 166);
    background: linear-gradient(252deg, rgba(87, 3, 166, 1) 0%, rgba(57, 5, 54, 1) 100%);
    border-radius: 20px 5px;
    box-shadow: 5px 5px 5px rgb(36, 1, 39);
}
#coment:hover {
    background: rgb(87, 3, 166);
    background: linear-gradient(252deg, rgba(87, 3, 166, 1) 0%, rgba(57, 5, 54, 1) 100%);
    border-radius: 20px 5px;
    box-shadow: 5px 5px 5px rgb(36, 1, 39);
}
/*------------------------------------------*/
input {
    color: rgb(73, 73, 73);
    border-radius: 10px;
    outline-style: none;

}
select {
    color: rgb(73, 73, 73);
    cursor: pointer;
    border-radius: 10px;
    outline-style: none;
}
textarea {
    color: rgb(73, 73, 73);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(36, 1, 39);
     outline-style: none;
}
textarea:hover {
    transform: scale(0.98);
}
label {
    color: white;
}
form {
    position: relative;
    left: 20px;
    line-height: 2.0;

}
h1 {
    font-size: 2.6em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 400px;
    position: relative;
    left: 33.7%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(47, 1, 51);
    background-color: rgb(153, 80, 172);
}
h1:hover {
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px black;
}

/*MEDIA SCREEN*/
@media only screen and (max-width: 350px){
    .box-cadastro {
        width: 300px;
        height: 700px;
        position: relative;
        left: 0%;     
    }
    textarea{
        width: 250px;    
    }
    #confirmar{
        left: 18%;
    }
    h1{
        width: 300px;
        left: 0%;
    }
}
@media only screen and (max-width: 500px) {
    .box-cadastro {
        width: 300px;
        height: 700px;
        position: relative;
        left: 5%;   
    }
    textarea{
        width: 250px;  
    }
    #confirmar{
        left: 18%;
    }
    h1{
        width: 300px;
        left: 5%;
    }
}
 